@import "tailwindcss";

@keyframes marqueeContinuous {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee-continuous {
  display: flex;
  width: max-content;
  animation: marqueeContinuous 60s linear infinite;
}

.animate-marquee-continuous:hover {
  animation-play-state: running;
}
